@page "/Edit/{Id:int}"
@using WebApplication
@inject ITodoData TodoData
@inject NavigationManager NavMgr;
<h3>Edit todo with id: @Id</h3>

@if (toDoToEdit == null)
{
    <em>Todo Not found! </em>
}
else
{
    <EditForm Model="@toDoToEdit" OnValidSubmit="@Save">
        <DataAnnotationsValidator/> <ValidationSummary/>
        <div class="form-group"> User Id:<br/> <InputNumber @bind-Value="toDoToEdit.UserId"/> </div>
        <div class="form-group"> Title:<br/> <InputTextArea rows="4" @bind-Value="toDoToEdit.Title"/> </div>
        <p class="actions">
            <button class="btn btn-outline-dark" type="submit">Save</button>
        </p>
    </EditForm>
}





@code {

    [Parameter]
    public int Id { get; set; }

    private ToDo toDoToEdit;

    protected override async Task OnInitializedAsync()
    {
        toDoToEdit = TodoData.Get(Id);
    }

    private void Save()
    {
        TodoData.Update(toDoToEdit);
        NavMgr.NavigateTo("/Todos");
    }

}